@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Alaeddin Alhamoud</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        
        <div class="container">
           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/Images/avatar-icon.png" width="30" height="30" alt="">
                </a>
                @Html.ActionLink("Sparql Query", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Rdf Files", "LoadOwlPublicFiles", "UploadFile")</li>
                   @if (Request.IsAuthenticated)
                    {
                    <li>@Html.ActionLink("My Rdf Files", "LoadMyOwlFiles", "UploadFile")</li>
                    }
                    <li>@Html.ActionLink("Query", "Index", "RDFQuery")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                   
                </ul>
               @Html.Partial("_LoginPartial")  
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sparql Query By <a href="https://www.facebook.com/alaeddinalhamoud.page">Alaeddin Alhamoud</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
